
<%= form_for @case do |f| %>

  <% @attributes.each do |a| %>
    <% if a == :open %>
      <%= f.label a %><br>
      <%= f.check_box a %><br>
    <% else %>
    <%= f.label a %><br>
    <%= f.text_field a %><br>
    <br>
    <% end %>
  <% end %>
  <br>
  <p>Client:</p>
  <%= f.collection_select :client_id, Client.all, :id, :full_name, include_blank: true %><br>
  <br>
  <p>If new client:</p>
  <%= f.fields_for :client do |c| %>
    <%= c.label :first_name %>
    <%= c.text_field :first_name%><br>
    <%= c.label :last_name %>
    <%= c.text_field :last_name%><br>
    <%= c.label :company_name %>
    <%= c.text_field :company_name%><br>
    <%= c.label :home_phone %>
    <%= c.text_field :home_phone%><br>
    <%= c.label :work_phone %>
    <%= c.text_field :work_phone%><br>
    <%= c.label :cell_phone %>
    <%= c.text_field :cell_phone%><br>
    <%= c.label :email %>
    <%= c.text_field :email%><br>
    <%= c.label :address %>
    <%= c.text_field :address%><br>
    <%= c.label :city %>
    <%= c.text_field :city%><br>
    <%= c.label :state %>
    <%= c.text_field :state%><br>
    <%= c.label :zip %>
    <%= c.text_field :zip%><br>
  <% end %>
  <br>
  <br>
  Assign Attorneys and/or paralegals:<br>
  <%= f.collection_check_boxes :case_workers, User.all, :id, :full_name %>

  <br>
  <%= f.submit %>
<% end %>


<!-- this form needs a client drop down. With the possibilty of add a new client if it doesn't already exhist (this is the nest) -->
