<div class='col-1'>
<%if @client%>
  <h4><%= link_to @client.full_name, client_path(@client)%>'s Case List</h1>
<%elsif @user%>
  <h4><%= link_to @user.full_name, user_path(@user)%>'s Assigned Cases</h1>
<%else%>
  <h3>Firm Case List</h1>
<%end%>

<h5><%= @client.full_name + "'s cases:"if @client%></h5><br>
<h5><%= @user.full_name + "'s assigned cases:"if @user%></h5><br>

<h5>Active Cases</h2>
<ul>
  <% @open_cases.each do |o| %>
    <li>
      <%= link_to o.caption, case_path(o) %>
    </li>
  <% end %>
</ul>

<h5>Closed Cases</h2>
<ul>
  <% @closed_cases.each do |c| %>
    <li>
      <%= link_to c.caption, case_path(c) %>
    </li>
  <% end %>
</ul>

<%if @user || @client%>
<%=link_to "Add new case", new_case_path%>
</div>
<%else%>
</div>
<div class='col-2'>
  <%=link_to "Add new case", new_case_path%>
</div>
<%end%>