<br>
<div class='col-1'>
  <% if flash[:message] %>
    <div class = "error">
    <p><%= flash[:message] %>!</p>
    </div>
    <br>
  <% end %>

  <h1>Case Info:</h1>
  <br>
    <% @attributes.each do |a| %>
      <% unless @case.send(a.to_s).blank? %>
        <%if a.to_s == "client_id"%>
          <p>Client: <%=link_to (Client.find(@case.send(a.to_s)).full_name), client_cases_path(@case.client)%></p>
        <%else%>
          <p><%=a.to_s.split("_").join(" ").titleize%>: <%=@case.send(a.to_s)%></p>
        <%end%>
      <%end%>
    <%end%>
  <br>
    <!-- maybe too much logic above in view?  how can i fix this?-->

  <h5>Attorney's Assigned:</h5>
  <ul>
    <% @lawyers.each do |l|%>
      <li><%= l.full_name%></li>
    <% end %>
  </ul>
  <br>
  <h5>Paralegal's Assigned:</h5>
  <ul>
    <% @paras.each do |p|%>
      <li><%= p.full_name %></li>
    <% end %>
  </ul>
  <br>
  <p><%=link_to "Edit Case Info", edit_case_path(@case)%></p>

</div>

<div class='col-2'>
  <div id = "case_notes">
    <h4>Case Notes:</h4>
    <br>
    <br>
  </div>
  <button id='getNotes' data-id=<%=@case.id%>>Get Case Notes</button>
</div>

  <!--the new note form should be the last thing on the note column-->
<div class='col-3'>

  <h5>Add Note:</h5>
  <%=form_for @newnote do |f|%>

    <%=f.label :content%>
    <%=f.text_area :content%><br>
    <%= f.hidden_field :user_id %><br>
    <%= f.hidden_field :case_id %>
    <%=f.submit%>

  <%end%>
</div>
  