<br>

<h1>Case Info:</h1>

<br>

  <% @attributes.each do |a| %>
    <% unless @case.send(a.to_s).blank? %>
    <p><%=a.to_s.split("_").join(" ").titleize%>: <%=@case.send(a.to_s)%></p>
    <%end%>
  <%end%>

<br>

  <div class = "case_notes">
    <h4>Case Notes:</h4>
    <br>
    <% @case.notes.each do |note| %>
      <p><%=note.content %></p>
      <p>- <%=note.user.full_name %><br> <%= note.created_at %></p>
      <br>
    <% end %>
  </div>

  <!-- need a drop down to navigate to clients cases and an edit client button maybe in a new column...the new note form should be the last thing on the left column-->

<%=form_for @newnote do |f|%>

  <%=f.label :content%>
  <%=f.text_area :content%><br>
  <%= f.hidden_field :user_id %><br>
  <%= f.hidden_field :case_id %>
  <%=f.submit%>

<%end%>
  