<br>
<div class='col-1'>
  <% if flash[:message] %>
    <div class = "error">
    <p><%= flash[:message] %>!</p>
    </div>
    <br>
  <% end %>

  <h1>Case Info:</h1>
  <br>
  <div id='attrs'> <!-- FIX THIS!!!! -->

    <p>Client: <%=link_to (Client.find(@case.send("client_id")).full_name), client_cases_path(@case.client)%></p>
    <p>Index No.: <%=@case.index_num%></p>
    <p>County: <%=@case.county%></p>
    <p>Caption: <%=@case.caption%></p>
    <p>Case Status: 
      <%if @case.open == true%>
        Open
       <%else%>
        Closed 
      <%end%></p>
    <p>Created: <%=@case.created_at.to_formatted_s(:long)[0...-6]%></p>
    <p>Last Update: <%=@case.updated_at.to_formatted_s(:long)[0...-6]%></p>
    <p>Exposure: <%=@case.exposure%></p>

  <br>
  </div>

  

  <h5>Attorney's Assigned:</h5>
  <ul>
    <% @lawyers.each do |l|%>
      <li><%= l.full_name%></li>
    <% end %>
  </ul>
  <br>
  <h5>Paralegal's Assigned:</h5>
  <ul>
    <% @paras.each do |p|%>
      <li><%= p.full_name %></li>
    <% end %>
  </ul>
  <br>
  <p><%=link_to "Edit Case Info", edit_case_path(@case)%></p>
 <!--  <p><button id='next_case' data-id=<%=@case.id + 1%>>See next case</button></p> -->

</div>

<div class='col-2'>
  <h5>Case Notes:</h5>
  <div id = "case_notes" style="margin-left: 5px; padding: 25px; border-left: solid 1px;">
    <br>
  </div>
  <button id='getNotes' data-id=<%=@case.id%>>Get Case Notes</button>
</div>


  <%=form_for @newnote do |f|%>
  <h5>Add Note:</h5>

    <%= f.label :content%>
    <%= f.text_area :content%><br>
    <%= f.hidden_field :user_id %><br>
    <%= f.hidden_field :case_id %>
    <%= f.submit%>

  <%end%>

  