<div class = 'form_col-1' >
  <h1>Edit User</h1>
  <%= form_for @user do |f|%>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <%unless @user.approved%>
    <div class="field">
      <%= f.label :approved %>
      <%= f.check_box :approved %>
    </div>
  <%end%>

  <div class="field">
    <%= f.label :role %>
    <%= f.text_field :role %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

    <%= link_to 'remove this user', user_path(@user), method: :delete %>
<% end %>
</div>
