<div class = 'col-1'>
<% if flash[:message] %>
  <div class = 'error'><%=flash[:message]%></div>
  <br>
<% end %>
<h1>Users</h1>

<table id = 'users_table'>
  <tr>
    <th class = 'user_head'>User</th>
    <th class = 'user_head'>Approved?</th> 
    <th class = 'user_head'>Edit</th>
  </tr>
  <%@users.each do |user| %>
    <tr>
        <td><%= link_to user.full_name, user_path(user) unless user.full_name == 'Don Febbraio'%></td>
        <td><%= user.approved unless user.full_name == 'Don Febbraio'%></td>
        <td><%= link_to "Edit or Remove", edit_user_path(user) unless user.full_name == 'Don Febbraio'%></td>
    </tr>
  <%end%>
</table>

<%= link_to "Click here for only users awaiting approval", users_unapproved_path %>
</div>