<div class = 'col-1'>
  <%if flash[:message]%>
    <div class = 'error'>
    <p><%=flash[:message]%></p>
  <%end%>

  <h1>Client Info:</h1>
  <br>
  <p><%= "Name: " + @client.full_name %></p>
  <p><%= "Company: " + @client.company_name %></p>
  <p><%= @client.phones %></p>
  <p><%= "Email: " + @client.email%></p>
  <p><%= "Address: " + @client.address%></p>
  <p><%= "City: " + @client.city%></p>
  <p><%= "State: " + @client.state%></p>
  <p><%= "Zip: " + @client.zip%></p>



  <br>
  <br>
  <p><%=link_to "See this clients cases", client_cases_path(@client)%></p>
  <p><%=link_to "Edit Client Info", edit_client_path%></p>

  <br>
  <br>
  <br>
  <br>
  <p><%=link_to "Delete Client", client_path(@client), method: :delete%></p>
</div>


