<div class = 'col-1'>
  <%if flash[:message]%>
    <div class = 'error'>
    <p><%=flash[:message]%></p>
  <%end%>

  <h1>Client Info:</h1>
  <br>
  <p><%= @client.full_name %></p>
  <p><%= @client.phones %></p>
  <p><%= "Company: " + @client.company_name %></p>
  <p><%= "Email: " + @client.email unless @client.email.blank?%></p>
  <p><%= "Address: " + @client.address unless @client.address.blank?%></p>
  <p><%= "City: " + @client.city unless @client.city.blank?%></p>
  <p><%= "State: " + @client.state unless @client.state.blank?%></p>
  <p><%= "Zip: " + @client.zip unless @client.zip.blank?%></p>



  <br>
  <br>
  <p><%=link_to "See this clients cases", client_cases_path(@client)%></p>
  <p><%=link_to "Edit Client Info", edit_client_path%></p>

  <br>
  <br>
  <br>
  <br>
  <p><%=link_to "Delete Client", client_path(@client), method: :delete%></p>
</div>


