<br>
<div class='col-1'>

  <h2>Firm Statistics</h2><br>

  <h5>Your most valuable client is:</h5><br>

  <p><%= @most_val.fullname %></p>

  <p>with an exposure of: <%= @sum_exposure %> dollars</p><br>

  <h5>The majority the firm's cases are venued in:</h5><br>

  <p><%=@pop_county%> County with <%=@cases_in_pop_county%> cases.</p>

  <h5>Case with most activity:</h5>

  <p><%=@active_case.caption%></p>

  <!-- eventually uses partials here -->
</div>