
<div id = "sign_in">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, :placeholder => 'admin@admin.com' %><br><br>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", :placeholder => 'powersick' %>
    </div>
    
    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

  <br>

<div>
  <h6>To Demo</h6> 
  <p style= 'font-size: 12px;'> - with (some) admin rights - <br>admin@admin.com password: powersick
  <br>- as user - <br>john@office.com password: workerbee</p>
</div>

</div>
