<!DOCTYPE html>
<html>
<head>
  <title>Law Firm Name</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
    <nav id="nav">
      <ul id="menu-main-navigation" class="">
        <li id="menu-item-90">
          <a href="/" class="style-1 menu-item menu-item-type-post_type menu-item-object-page active page_item page-item-2 current_page_item menu-item-90">Home</a>
        </li>
        <li id="menu-item-103">
          <a href="/about" class="style-2 menu-item menu-item-type-custom menu-item-object-custom menu-item-103">About Us</a>
        </li>
        <li id="menu-item-104"><a href="http://www.työsopimuslaki.fi" class="style-3 menu-item menu-item-type-custom menu-item-object-custom menu-item-104">Location</a>
        </li>
        <li id="menu-item-105">
        <a href="http://www.yrityssaneerausmenettely.fi" class="style-4 menu-item menu-item-type-custom menu-item-object-custom menu-item-105">Contact Us</a>
        </li>
        <li id="menu-item-107"><a href="http://www.välimiesmenettely.fi/" class="style-6 menu-item menu-item-type-custom menu-item-object-custom menu-item-107">Admin</a></li>
      </ul>   
    </nav>

        <%= yield %>
    <nav id="add-nav" class="add-nav">
      <a class="opener" href="#">VALIKKO</a>
    
              <ul>
          <li class="active selected"><a class="to-scroll" href="#box-1">ETUSIVU<span></span></a><ul><li><a class="to-scroll" href="#block-1">1<span></span></a></li><li><a class="to-scroll" href="#block-2">2<span></span></a></li></ul></li><li><a class="to-scroll" href="#box-2">YRITYS<span></span></a><ul><li><a class="to-scroll" href="#block-3">1<span></span></a></li><li><a class="to-scroll" href="#block-4">2<span></span></a></li></ul></li><li><a class="to-scroll" href="#box-3">OSAAMINEN<span></span></a><ul><li><a class="to-scroll" href="#block-5">1<span></span></a></li><li><a class="to-scroll" href="#block-6">2<span></span></a></li></ul></li><li><a class="to-scroll" href="#box-4">YHTEYSTIEDOT<span></span></a><ul><li><a class="to-scroll" href="#block-7">1<span></span></a></li><li><a class="to-scroll" href="#block-8">2<span></span></a></li></ul></li>        </ul>
          </nav>
    <strong id="small-logo" class="small-logo page-2"><a href="http://www.finsta.fi">Asianajotoimisto Finsta</a></strong>
<div id="box-1">
  <section class="section section-1 page-visual-section" data-color="#add-nav: light, #small-logo: dark, #language: light, #contact-box: light">
    <div class="section-holder">
      <div class="holder">
        <div class="frame">
          <strong class="logo">Finsta Asianajotoimisto</strong>
        </div>
      </div>
    </div>
      
      <div class="bg">
      <%=image_tag("testbackground.gif")%>
      </div>

  </section>

  <section class="section page-content-section" id="block-1" data-color="#add-nav: dark, #small-logo: dark, #language: dark, #contact-box: dark">
          <div class="section-holder">
        <div class="holder">
          <div class="frame">
            <div class="info-box">
              <p>Asianajotoimisto Finsta OY on perinteinen suomalainen asianajopalveluita tuottava toimisto</p>
            </div>
          </div>
        </div>
      </div>
      </section>


  <section class="section section-2 page-visual-section" data-color="#add-nav: dark, #small-logo: dark, #language: light, #contact-box: light">
    <div class="bg">
      <%=image_tag("/testbackground.gif")%>
    </div>
  </section>


  <section class="section page-content-section" id="block-2" data-color="#add-nav: dark, #small-logo: dark, #language: dark, #contact-box: dark">
          <div class="section-holder">
        <div class="holder">
          <div class="frame">
            <div class="info-box">
              <p>Toimistomme tarjoaa korkeatasoisia asianajopalveluita yrityksille ja yksityisille henkilöille.</p>
            </div>
          </div>
        </div>
      </div>
      </section>
</div>
<div id="box-2">
  <section class="section section-3 page-visual-section" data-color="#add-nav: dark, #small-logo: dark, #language: dark, #contact-box: dark">
    <div class="bg">
      <img src="http://www.finsta.fi/finsta-wp/wp-content/uploads/2013/11/bg-section-3.jpg" alt="" />   </div>
  </section>
  <section class="section page-content-section" id="block-3" data-color="#add-nav: dark, #small-logo: dark, #language: dark, #contact-box: dark">
          <div class="section-holder">
        <div class="holder">
          <div class="frame">
            <div class="text-block wide">
              <p>Asianajotoimisto Finsta Oy palvelee niin yrityksiä kuin yksityisiä henkilöitä. Olemme palvelleet myös kotimaisia ja kansainvälisiä julkisyhteisöjä. Hoidamme asiakkaidemme toimeksiannot luotettavasti ja tehokkaasti. </p><p>Toimistomme on myös tunnettu ystävällisestä ja rennosta asiakaspalvelusta. Yksinkertaisesti pidämme työstämme ja tämä myös näkyy asiakaspalvelumme laadussa. Tarjoamme asiakkaidemme käyttöön vain todellisia juridiikan avainpelaajia.</p>            </div>
          </div>
        </div>
      </div>
      </section>
  <section class="section section-4 page-visual-section" data-color="#add-nav: light, #small-logo: dark, #language: light, #contact-box: light">
    <div class="bg">
      <img src="http://www.finsta.fi/finsta-wp/wp-content/uploads/2013/11/bg-section-4.jpg" alt="" />   </div>
  </section>
  <section class="section page-content-section" id="block-4" data-color="#add-nav: dark, #small-logo: dark, #language: dark, #contact-box: dark">
          <div class="section-holder" data-color="#add-nav: dark, #small-logo: dark, #language: dark, #contact-box: dark">
        <div class="holder">
          <div class="frame">
            <div class="text-block wide">
              <p><p>Asianajajaliittoon kuuluvat lakimiehet ovat asianajajina velvollisia noudattamaan toiminnassaan lakia ja hyvää asianajajatapaa.</p>
<p>Nämä sivut on tarkoitettu ainoastaan tiedottamiseen. Sivuilla esitettävät tiedot eivät muodosta oikeudellisia neuvoja.</p>
<p>–</p>
<p>Joonas Laitinen<br> Asianajaja, toimitusjohtaja</p></p>
            </div>
          </div>
        </div>
      </div>
      
  </section>
</div>
<div id="box-3">
  <section class="section section-5 page-visual-section" data-color="#add-nav: light, #small-logo: light, #language: light, #contact-box: light">
    <div class="bg">
      <img src="http://www.finsta.fi/finsta-wp/wp-content/uploads/2013/11/bg-section-5.jpg" alt="" />   </div>
  </section>
  <section class="section page-content-section" id="block-5" data-color="#add-nav: dark, #small-logo: dark, #language: dark, #contact-box: dark">
          <div class="section-holder">
        <div class="holder">
          <div class="frame">
            <div class="text-block wide">
              <p>Pääosa asiakkaistamme on kotimaisia PK-yrityksiä. Osaamisemme kattaa laajasti yritysten päivittäin tarvitseman juridiikan. Vahvuutenamme on tuottaa kustannustehokkaasti, laadukkaasti ja nopeasti asianajopalveluita yrityksille.</p><p>Yksityishenkilöitä olemme palvelleet etenkin työoikeudellisissa riitatilanteissa, talousrikosoikeudenkäynneissä, asianomistajien korvausvaatimusten ajamisessa oikeudenkäynneissä, yleisjuridiikassa ja erilaisten riitojen ratkaisussa.</p>            </div>
          </div>
        </div>
      </div>
      
  </section>
  <section class="section section-6 page-visual-section" data-color="#add-nav: light, #small-logo: light, #language: light, #contact-box: light">
    <div class="bg">
      <img src="http://www.finsta.fi/finsta-wp/wp-content/uploads/2013/11/bg-section-6.jpg" alt="" />   </div>
  </section>
  <section class="section page-content-section" id="block-6" data-color="#add-nav: dark, #small-logo: dark, #language: dark, #contact-box: dark">
          <div class="section-holder">
        <div class="holder">
          <div class="frame">
            <div class="text-block-2">
              <h2>Osaamisemme painopistealueet ovat: </h2>
<ul>
  <li>YRITYSSANEERAUKSET</li>
  <li>TYÖOIKEUS</li>
  <li>TALOUSRIKOKSET</li>
  <li>LIIKEJURIDIIKKA</li>
  <li>KORVAUSVAATIMUKSET</li>
  <li>OIKEUDENKÄYNNIT</li>
  <li>VÄLIMIESMENETTELYT</li>
  <li>SOPIMUS- JA YHTIÖOIKEUS</li>
  <li>RIIDANRATKAISU JA RIKOSOIKEUDENKÄYNNIT</li>
</ul>           </div>
          </div>
        </div>
      </div>
      </section>
</div>
<div id="box-4">
  <section class="section section-7 page-visual-section" data-color="#add-nav: light, #small-logo: dark, #language: light, #contact-box: light">
    <div class="bg">
      <img src="http://www.finsta.fi/finsta-wp/wp-content/uploads/2013/11/bg-section-7.jpg" alt="" />   </div>
  </section>
  <section class="section page-content-section" id="block-7" data-color="#add-nav: dark, #small-logo: dark, #language: dark, #contact-box: dark">
    <div class="section-holder">
      <div class="holder">
        <div class="frame">
          <div class="contact-block">
            <div class="column"><h2>Yhteystiedot</h2>     <span class="divider">–</span> <address> Asianajotoimisto Finsta Oy<br> Fredrikinkatu 25 A 17<br> 00120 Helsinki<br><br> <a href="mailto:&#106;&#111;&#111;&#110;&#097;&#115;&#046;&#108;&#097;&#105;&#116;&#105;&#110;&#101;&#110;(&#097;&#116;)&#102;&#105;&#110;&#115;&#116;&#097;&#046;&#102;&#105;">&#106;&#111;&#111;&#110;&#097;&#115;&#046;&#108;&#097;&#105;&#116;&#105;&#110;&#101;&#110;(&#097;&#116;)&#102;&#105;&#110;&#115;&#116;&#097;&#046;&#102;&#105;</a><br><br> Puh. 010 470 4004<br> Fax 010 470 4008<br> GSM 045 121 4121 </address>    </div>            <div class="column">
              <h2>Yhteydenottolomake</h2>
              <span class="divider">–</span>
              <p>Voit lähettää meille sähköpostiin yhteydenottopyynnön allaolevalla lomakkeella.</p>
              <div class="wpcf7" id="wpcf7-f88-t1-o1"><form action="/#wpcf7-f88-t1-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="88" />
<input type="hidden" name="_wpcf7_version" value="3.5.4" />
<input type="hidden" name="_wpcf7_locale" value="en_US" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f88-t1-o1" />
<input type="hidden" name="_wpnonce" value="0d9dc06024" />
</div>
<fieldset> <div class="row"> <span class="wpcf7-form-control-wrap Nimi"><input type="text" name="Nimi" value="" size="40" class="wpcf7-form-control wpcf7-text" placeholder="Nimi" /></span> </div> <div class="row"> <span class="wpcf7-form-control-wrap Yritys"><input type="text" name="Yritys" value="" size="40" class="wpcf7-form-control wpcf7-text" placeholder="Yritys" /></span> </div> <div class="row"> <span class="wpcf7-form-control-wrap Osoite"><input type="text" name="Osoite" value="" size="40" class="wpcf7-form-control wpcf7-text" placeholder="Osoite" /></span> </div> <div class="row"> <span class="wpcf7-form-control-wrap tel"><input type="tel" name="tel" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" placeholder="Puhelinnumero" /></span> </div> <div class="row"> <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" placeholder="Sähköpostiosoite" /></span> </div> <div class="row"> <label for="message"></label> <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="30" rows="5" class="wpcf7-form-control wpcf7-textarea" id="message" placeholder="Viesti"></textarea></span> </div> <div class="row"> <input type="submit" value="Lähetä" class="wpcf7-form-control wpcf7-submit" /> </div> </fieldset><div class="wpcf7-response-output wpcf7-display-none"></div></form></div>            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-8 page-visual-section" data-color="#add-nav: light, #small-logo: light, #language: dark, #contact-box: dark">
    <div class="bg">
      <img src="http://www.finsta.fi/finsta-wp/wp-content/uploads/2013/11/bg-section-8.jpg" alt="" />   </div>
  </section>
  <section class="section page-content-section" id="block-8" data-color="#add-nav: dark, #small-logo: dark, #language: dark, #contact-box: dark">
    <div class="section-holder wide">
      <div class="holder">
        <div class="frame">
          <div class="map-holder">
            

<div id="mapp0_layout" class="mapp-layout mapp-align-default" style="width: 99.8%; border: 1px solid #000000; ">
  <div id="mapp0_links" class="mapp-map-links"></div>
  <div id="mapp0_dialog" class="mapp-dialog"></div>
  <div id="mapp0" class="mapp-canvas" style="width: 100%; height: 530px; "></div>
  <div id="mapp0_poi_list" class="mapp-poi-list" style="width:100%"></div>
  <div id="mapp0_directions" class="mapp-directions" style="width:100%"></div>
</div>          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-9 page-visual-section" data-color="#add-nav: dark, #small-logo: dark, #language: light, #contact-box: light">
    <div class="bg">
      <img src="http://www.finsta.fi/finsta-wp/wp-content/uploads/2013/11/bg-section-9.jpg" alt="" />   </div>
  </section>
</div>
<footer id="footer">
</span> <div id="contact-box" class="contact-box"><address>     <span>Asianajotoimisto Finsta OY</span>
<span>PUH. 010 470 4004</span>
<span>FAX 010 470 4008</span>
<span>GSM 045 121 4121</span>   </address></div></footer>
<div id="controls" class="controls">
  <a class="btn-next to-next" href="#">Next</a>
  <a class="btn-prev to-top" href="#">Prev</a>
</div>

    </div>

<div id='mapp0_directions_' style='display:none'><form action='#'>
  <div>
    <a href='#' class='mapp-travelmode mapp-travelmode-on' title='Autolla'><span class='mapp-dir-icon mapp-dir-car'></span></a>
    <a href='#' class='mapp-travelmode' title='Julkinen liikenne'><span class='mapp-dir-icon mapp-dir-transit'></span></a>
    <a href='#' class='mapp-travelmode' title='Kävellen'><span class='mapp-dir-icon mapp-dir-walk'></span></a>
    <a href='#' class='mapp-travelmode' title='Pyöräillen'><span class='mapp-dir-icon mapp-dir-bike'></span></a>
  </div>


  <div class='mapp-route'>
    <a href='#' class='mapp-myloc'>Oma sijaintini</a>

    <div>
      <span class='mapp-dir-icon mapp-dir-a'></span>
      <input class='mapp-dir-saddr' tabindex='1'/>
      <a href='#' class='mapp-dir-swap'><span class='mapp-dir-icon mapp-dir-arrows' title='Vaihda lähtöpaikka ja määränpää'></span></a>

    </div>
    <div class='mapp-dir-saddr-err'></div>

    <div>
      <span class='mapp-dir-icon mapp-dir-b'></span>
      <input class='mapp-dir-daddr' tabindex='2'/>
    </div>
    <div class='mapp-dir-daddr-err'></div>
  </div>

  <div style='margin-top: 10px;'>
    <input type='submit' class='mapp-dir-get' value='Hae ajo-ohjeet '/>
    <a href='#' class='mapp-dir-print'>Tulosta</a>
    &nbsp;<a href='#' class='mapp-dir-close'>Sulje</a>
    <span class='mapp-spinner' style='display:none'></span>
  </div>
</form>

<div class='mapp-dir-renderer'></div></div>

</body>
</html>
